<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 96vh;
            background: url('https://i.pinimg.com/736x/16/c1/7d/16c17d0873a973443b68f85bae033fca.jpg');
            background-size: cover;
            background-position: center;

        }
        h1{
            color: aqua;
        }
    </style>
</head>
<body>
    <h1>Log In</h1>

    <form action="/login" method="post">
    <input type="text" name="name" placeholder="Name">
    <input type="password" name="password" placeholder="Password">
    <input type="submit">
    
    </form>
  
    <a href="/signup">Make a new account</a>



</body>
</html>
